{% load static %}

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a href="{% url 'home' %}">
            <img src="{% static 'assets/logo.svg' %}" class="navbar-brand logo-img" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link fw-bold p" href="{% url 'home' %}" id="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold p" href="{% url 'projects' %}" id="projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold p" href="{% url 'about' %}" id="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold p" href="" id="contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-dark d-lg-none msg-btn fw-bold" href="#">
                    <i class="bi bi-journal-text me-1"></i>
                    Blogs</a>
                </li>
            </ul>
        </div>

        <div class="d-flex align-items-center d-none d-lg-block">
            <a class="btn btn-dark msg-btn fw-bold" href="#">
                <i class="bi bi-journal-text me-1"></i>
                Blogs</a>
        </div>
    </div>
    </nav>