{% extends 'base.html' %}
{% load static %}


{% block content %}
    <header class="mb-5">
    <div class="container py-5">
        <div class="row align-items-center mt-lg-5">

            <!-- IMAGE SECTION -->
            <div class="col-12 col-lg-6 d-flex justify-content-center mb-4 mb-lg-0 af">

                <!-- SINGLE POSITIONING CONTEXT -->
                <div class="position-relative d-flex justify-content-center align-items-center" style="max-width: 350px; width: 100%;">

                    <!-- MAIN IMAGE -->
                    <img 
                        loading="lazy"
                        class="img-fluid w-100 position-relative z-2" 
                        src="{% static 'assets/me3.png' %}" 
                        alt="profile">

                    <!-- BIG PURPLE BACKGROUND -->
                    <div class="position-absolute h_bg2"
                        style="
                            width: 130%;
                            height: 100%;
                            background-color: rgb(206, 3, 206);
                            border-radius: 50%;
                            top: 45%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 1;
                        ">
                    </div>

                    <!-- DARK CIRCLE -->
                    <div class="position-absolute bg-dark"
                        style="
                            width: 80px;
                            height: 80px;
                            border: 4px solid white;
                            border-radius: 50%;
                            top: 65%;
                            left: -8%;
                            transform: translate(-50%, -50%);
                            z-index: 3;
                        ">
                    </div>

                    <!-- SMALL PURPLE CIRCLE -->
                    <div class="position-absolute"
                        style="
                            width: 80px;
                            height: 80px;
                            background-color: rgb(206, 3, 206);
                            border: 4px solid white;
                            border-radius: 50%;
                            top: 20%;
                            left: 105%;
                            transform: translate(-50%, -50%);
                            z-index: 3;
                        ">
                    </div>

                </div>
            </div>

            <!-- TEXT SECTION -->
            <div class="col-12 col-lg-6 d-flex flex-column align-items-center align-items-lg-start af2">
                <h1 class="text-center text-lg-start fw-bold display-1 mt-4 mt-lg-0">Projects</h1>

                <p class="text-center text-lg-start fw-bold fs-5">
                    Checkout my <span style="color: rgb(206, 3, 206);">Projects</span>
                </p>

                <a class="btn btn-outline-dark d-flex align-items-center gap-2"
                    style="background-color: white; color:black; border: 2px solid black;"
                    href="https://github.com/LilRex22">

                    <img loading="lazy" width="24" height="24"
                        src="https://img.icons8.com/windows/32/github.png"
                        alt="github"/>

                    View on Github
                </a>
            </div>

        </div>
    </div>
</header>
        
    <!-- the projects listed -->
    <section class="mb-5">
        <div class="container">
            {% for project in projects %}
                <div class="container p-3 d-flex flex-column flex-lg-row align-items-center align-items-lg-start af3" style="box-shadow: 2px 5px 10px grey;">
                    <img loading="lazy" class="img-fluid rounded-3" src="{{project.Image.url}}" alt="project img" style="width: 25rem;">
                    <div class="container ms-lg-3 d-flex flex-column">
                        <h2 class="">{{project.Name}}</h2>
                        <p class="mt-4">{{project.Description}}</p>
                        
                        <div class="container ps-0 mb-3">
                            <img loading="lazy" src="{{project.Tech_stack1.url}}" alt="">
                            <img loading="lazy" src="{{project.Tech_stack2.url}}" alt="">
                            <img loading="lazy" src="{{project.Tech_stack3.url}}" alt="">
                        </div>
                        
                        <div class="container ps-0">
                            <a class="btn btn-info" href="" style="background-color: rgb(206, 3, 206); border: none;"><img loading="lazy" width="32" height="32" src="https://img.icons8.com/sf-regular/48/play.png" alt="play"/>View live</a>
                            <a class="btn btn-outline-dark" style="background-color: white; color:black;" href=""><img loading="lazy" width="32" height="32" src="https://img.icons8.com/windows/32/github.png" alt="github"/>View on Github</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}